* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --content-height: 64px;
}
button {
  cursor: pointer;
  border: 0;
}
a {
  text-decoration: none;
}